@import '~antd/dist/antd.css';

.App {
  text-align: center;
  justify-content: center;

  /* bring your own prefixes */

}

body {
  font: 2em "Century Gothic", Futura, sans-serif;
  margin: 2em;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
  height: 2em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 2em;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {

  position: fixed; 
  /* transform: translate(-50%, -50%) ; */
  display: grid;
  grid-gap: 5px;
  box-sizing: border-box;

}

.game-info {
  margin-left: 20px;
}



.wrapper {
  justify-content: center;
  display: inline-grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-auto-rows: 100px 100px 100px 100px 100px;
  border: 5px solid black;
  margin-right: -1px;
  margin-top: -1px;
}

.item {
  border: 2px solid black;
  padding: 1px;
  background-color: white;
  font: 1em "Century Gothic", Futura, sans-serif;
}

.game-name {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  border: 5px solid black;
}
